
 .uibuttons {
    width: 100%;
    font-weight: 900;
    color: #ff2626 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 15px;
    border: 4px solid #20bf6b !important;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
    position: relative;
    
}
.uibuttons:hover{
  border: 1px solid #071982;
  color: #80ffd3!important;
}

.uibuttons:hover {
    color: #494949;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: 0.3s ease 0s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: translateY(-6px);
}

.uibuttons::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #071982;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
   box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.uibuttons::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
-ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.uibuttons:hover::before, .uibuttons:hover::before{
  opacity:1;
  width: 116%;
}
.uibuttons:hover::after, .uibuttons:hover::after{
  opacity:1;
  width: 120%;
}

.uibuttons--floating {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    border-radius: 50%;
    font-size: 2.8em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.6em;
}


.uibutton__container {
   
    padding: 1rem;
    
}

.uibutton__appcontainer > div {
    transform: translateZ(0);
}

@media(max-width: 420px) {
    .uibuttons  {
        font-size: 1rem;
        display: flex;
    }
}


