@import '../../assets/styles/_config.scss';


.additem {
    padding: $container-padding;
    background: linear-gradient(45deg, #62cca1 10%, #6ab9fa 90%);
}

  .additem h2{
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;   
    color: rgb(255, 255, 255);
}

.additem h2:hover {
    border: 3px solid #fb0404;
    border-radius: 30px 0 30px 0;
    background-color: #aaa;
    transition: 0.2s ease-in-out;
}
.additem h2:active{
    border: 2px solid #fb0404;
    border-radius: 0 30px 0 30px;
    background-color: rgb(58, 57, 57);
    transition: 0.2s ease-in-out;

}

@media(max-width: 360px) {
    .additem  {
        width: 25rem;
        font-size: 1rem;
    }
}

