
$header-background: #DC143C;
$header-text: #fff;
$header-height: 4rem;
$header-fontsize: 1.75rem;


$item-border: #696969;
$item-text: #999;
$item-text-strong: #000;
$item-padding: 0.75rem;
$item-edit-background: #ddd;
$item-edit-text: #666;
$item-edit-width: 2rem;

//$scrollbar-track:  blue;
//$scrollbar-thumb: #ff5621;
//$scrollbar-width: 0.5rem;

$menu-background: #000;
$menu-text: #FD1212;
$menu-height: $header-height