
$container-padding: 2rem;


$header-background: #DC143C;
$header-text: #fff;
$header-height: 4rem;
$header-fontsize: 1.75rem;


$item-border: #ffffff;
$item-text: rgb(3, 28, 246);
$item-text-strong: rgb(253, 7, 7);
$item-padding: 0.75rem;
$item-edit-background: #ddd;
$item-edit-text: #666;
$item-edit-width: 2rem;

//$scrollbar-track:  blue;
//$scrollbar-thumb: #ff5621;
//$scrollbar-width: 0.5rem;

$menu-background: #000;
$menu-text: #1302ff;
$menu-height: $header-height;


$form-item-margin: 0.5rem 0.3rem;
$form-input-border: #999;
$form-item-radius: 0.4rem;
$form-item-padding: 0.5rem;
$form-item-fontsize: 1.3rem;
$form-label-fontsize: 0.9rem;
$form-label-margin-bottom: 0.6rem;


